/********************************************
	Version : 1.1
	AUTHOR:			Xinghao Yu 
	WEBSITE:		http://www.styleshout.com/
	VERSION:		1.0	
	DATE:          	August-31-2007          	
 *******************************************/
 
/*
----------------------------------------------------------------------------- 
Global Styles
-----------------------------------------------------------------------------*/

html, body { margin: 0; padding: 0;}

body {
-x-system-font:none;
font-family:arial,helvetica,sans-serif;
font-size:80%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:0;
padding:0;
text-align:center;
}

.clear { clear: both;}

/* links */
a {	
	color: #326ea1; 
	text-decoration: none;		
}
a:hover {
	color: #383d44;
	padding-bottom: 0;
	text-decoration: underline;
}

/*
----------------------------------------------------------------------------- 
Headers
-----------------------------------------------------------------------------*/
h1, h2, h3 { font-family: Georgia, "Times New Roman", Times, serif;	font-weight: Bold; color: #444;	}
h1 { font-size: 1.8em; font-weight: bold; border-bottom: 1px solid #dadada; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

h1, h2, h3, p { padding: 10px 0 10px 0;	margin: 0; }
ul, ol { margin: 5px 20px; padding: 0 20px; }

/* images */
img { border: 0; }



/*
----------------------------------------------------------------------------- 
Template Styles
-----------------------------------------------------------------------------*/
#wrap {
	position: relative;
	left:0px;
	top:0px;
	width: 960px;	
	margin: 0 auto;
	text-align: center;
}
#ContentPHDiv 
{   
    clear:both;
    position:relative;
	left:0px;
	top:0px;
	width: 960px;
	margin: 0;
	padding: 0;
	text-align:left;
	
}
#content-wrap {
	clear:both;
	position:relative;
	left:0px;
	top:0px;
	margin:10px 0px 0px 0px;
	width: 960px;
	/*height: 374px; /*--change 474->374*/
}
#headerwrap {
	position: relative;
	left:0px;
	top:0px;
	height: 35px;
	width: 100%;
	padding: 0;	
	margin: 0 auto;
	border-bottom:#c9d7f1 1px solid;
}
#weather {
	float:left;
	left:0px;
	height: 33px;
	width: 250;
	/*margin: 10px 0px 0px 0px;*/	
	padding: 0;
}
#newsletter {
	float: right;
	right:0px;
	height: 31px;
	width: 200;
	margin: 10px 0px 0px 0px;	
	padding: 0;
	display:none;
}
#loginbox{
	float: right;
	right:0px;
	height: 15px;
	width: 200;
	margin: 18px 0px 0px 0px;	
	padding: 0;
}
.timeinfo{
	height: 15px;
	margin: 18px 0px 0px 0px;
	display:inline-block;		
}
#footer {
/*	position:relative;*/
	top:0px;
	height:37px;  /*26->37*/
	text-align:center;
	width: 100%;
	vertical-align:bottom;
	margin-top:30px;/* 40->30*/
	clear:both;
	/*margin-left:25px;*/
}

.bottomLinks
{
    list-style: none;
    margin-top: 0;
    margin-left: 0;
}

.bottomLinks li
{
    display: inline;
    border-left: 1px solid #527597;
    padding-right: 1em;
    padding-left: 1em;
	font-size:10px;
}

.bottomLinks li.first
{
    border-left: 0 none transparent;
}

.bottomLinks li a {	
	color: #000; 
	text-decoration: none;		
}
.bottomLinks li a:hover {
	color: #000;
	padding-bottom: 0;
}

img {
border:medium none;
}

#botimage {
	position:relative;
	top:0px;
	height:61px;
	text-align:center;
	width: 100%;	
	background: url(../templateimages/botimage.jpg) no-repeat center bottom;
	padding-top:20px; /*---add later*/	
}

#errorwrap
{
    text-align:left;
    padding-left:10px;
}


div.smalllogo{
	width:98px;
	height:42px;
	display:block;
	float:left;
	background: url(../images/sitetemplate/spot101_602.png) no-repeat;
}


ul#locationnav, ul#categorynav {
	display:block;
	margin:0px;
	padding:0px;
}


ul#locationnav li, ul#categorynav li{
	float:left;
	display:block;
}
ul#locationnav li a, ul#categorynav li a{
    padding:5px 7px 5px 7px;
    background-color:#FFF;
	display:block;
	border: 3px solid #FFF;
}

ul#locationnav li a:hover, ul#locationnav li a.menu_on,
ul#categorynav li a:hover, ul#categorynav li a.menu_on{
    background-color:red;
	border: 3px solid #ccc;
	text-decoration: none;
	color:#000;
}

div.locationswrap{
	float:right;
	padding:0px;
	margin-right:0px;
	font-size:15px;
	width:680px;
}

div.resultlocation{
	padding-top:16px;
	float:left;
	padding:18px 10px 8px 10px;
	font-size:15px;
	width:150px;
}
select.shortselect{
	width:150px;
}
div#secondline{
	clear:both;
	font-size:15px;
	margin-top:5px;

}
div#contendheaderwrapper{
	margin: 0px 0px 0px 0px;
}

div.headbotline{
	clear:both;
	margin:0px 5px 0px 5px;
	border-bottom: 1px solid #ccc;
	padding-top:20px;
}

/* -------------- result page start--------------------*/
div.searchresult{
	font-weight:bold;
}
div.searchresult span.emphasis{
	font-weight:bold;
	font-style: italic;
	font-size:20px;
	color:green;
}


div.formandresultlistwrap{
	margin-top:10px;
}

div.formandresultlistwrap div.refineformwrap{
	float:left;
	margin-left:0px;
	width:240px;
	margin-right:20px;
}
div.formandresultlistwrap div.resultlistwrap,div.formandresultlistwrap div.postingwrap{
	float:right;
	margion-right:0px;
	width:690px;
	test-align:left;
}


div.postingwrap div.postingtitle{
	font-size:20px;
	font-weight:bold;
	
}
/* -------------- result page end--------------------*/	

/* -------------- refine form start--------------------*/
div.refineform{
  	background-color: #cccbcb;
}
div.refineform div.formcontent{
	padding:5px 15px;
	font-size:14px;
}

div.refineform div.formtop,
div.infowrap div.formtop
{
	width:100%;
  	background-image: url(../images/sitetemplate/form_right_top.jpg);
  	background-position: 100% 0;
  	background-repeat:no-repeat;
	
}
div.refineform div.formtop div.formtopleft,
div.infowrap div.formtop div.formtopleft
{
	height:18px;
	width:27px;
	display:block;
  	background-image: url(../images/sitetemplate/form_left_top.jpg);
  	background-position: 100% 0;
  	background-repeat:no-repeat;
}


div.refineform div.formbot,
div.infowrap div.formbot
{
	width:100%;
  	background-image: url(../images/sitetemplate/form_right_bot.jpg);
  	background-position: 100% 0;
  	background-repeat:no-repeat;
	
}
div.refineform div.formbot div.formbotleft,
div.infowrap div.formbot div.formbotleft {
	height:16px;
	width:27px;
	display:block;
  	background-image: url(../images/sitetemplate/form_left_bot.jpg);
  	background-position: 100% 0;
  	background-repeat:no-repeat;
}

input.refineforminput, select.refineformselect{
	width:200px;
	font-size:12px;
}
select.refineformmoneyselect{
	width:60px;
	font-size:12px;
}
span.min select.refineformmoneyselect,
span.max select.refineformmoneyselect,
span.max dt, span.max dd,
span.min dt, span.min dd
{
	width:90px;
}

span.facilityselect{
	width:60px;
	font-size:14px;
	display:inline-block;
	margin-right:10px;
}

div.facilityselectdiv{
	margin-top:0px;
}
/* for radio box's option label and value */
div.refineform div.cat1 input.refineformselect{
	margin-right:20px;
}

div.refineform dt{
	margin-bottom:4px;
}
div.refineform dd{
	margin-left:0px;
	margin-bottom:0px;
	display:inline;
}
div.refineform div.quicksearchbtn, div.refineform div.submitbtn{
	text-align:right;
	margin-right:5px;
}
div.refineform div.submitbtn{
	margin-right:10px;
}

div.refineform div.or{
	font-size:15px;
	text-align:center;
	font-weight:bold;
}

table.resultheader th{
}
/* -------------- refine form end--------------------*/


/* --------------  results table bagin--------------------*/
div.resultlistwrap div.leftcolumn,
div.resultlistwrap div.centercolumn{
	display:block;
	float:left;
}
table.resultheader{
	width:100%;
	font-size:11px;	
}
div.resultlistwrap div.rightcolumn{

}	
div.resultlistwrap div.botleft,
div.resultlistwrap div.botright{
	width:11px;
	height:27px;
  	background-image: url(../images/sitetemplate/leftbotcorner.jpg);
  	background-position: 100% 0;
  	background-repeat:no-repeat;	
	
}
div.resultlistwrap div.botright{
	display:block;
	float:right;
	margin-right:0px;
    background-image: url(../images/sitetemplate/rightbotcorner.jpg);		
}

div.resultlistwrap div.resultwrap{
  	background-image: url(../images/sitetemplate/resulthead.png);
  	background-position: 0 0;
  	background-repeat:no-repeat;	
  	padding:2px 15px 6px 15px;
}	

div.resultlistwrap div.botbar{
  	background-image: url(../images/sitetemplate/resultbot.png);
  	background-position: 0 0;
  	background-repeat:no-repeat;	
  		
	width:100%;
	height:29px;
}

div.resultlistwrap div.topbar{
	width:100%;
	height:54px;
	background-color:#ccc;
}

div.resultlistwrap div.resultbar{
	margin-bottom:10px;
}
div.resultlistwrap div.topleft,
div.resultlistwrap div.topright{
	width:13px;
	height:54px;
  	background-image: url(../images/sitetemplate/leftcorner.jpg);
  	background-position: 100% 0;
  	background-repeat:no-repeat;	
	
}
div.resultlistwrap div.topright{
	display:block;
	float:right;
	margin-right:0px;
    background-image: url(../images/sitetemplate/rightcorner.jpg);		
}

div.resultheader{
	font-weight:bold;
}
div.resultlistwrap span{
	display:inline-block;
}
div.resultlistwrap span.date{
	width:100px;
}
div.resultlistwrap span.title{
	width:200px;
}
div.resultlistwrap span.category{
	width:200px;
}
div.resultlistwrap span.other{
	width:50px;
}
div.resultlistwrap tr.postingrow{
}

div.resultlistwrap td{
	padding:10px 5px 10px 0px;
	border-bottom:red 1px solid;
	test-aligh:left;
}
 div.resultlistwrap th{
 	font-size:13px;
 	padding:0px 0px 4px 0px;
 	test-aligh:left;
}
 
div.resultsummary{
	font-wight:bold;
	text-align:center;
	font-style:italic;
	margin:2px 0px 0px 10px;
}
div.pagination{
	width:670px;
	padding-top:5px;
}
div.pagination div.paginatorsummary{
	float:left;
}
div.pagination div.paginator{
	float:right;
}

div.priceselectdivbox span.min, div.priceselectdivbox span.max{
	display:inline;
	float:left;
}
div.priceselectdivbox span.min{
	margin-right:16px;
}

div.refineform div.priceselectdivtitle{
	margin-bottom: 0px;
}
div.virticalgap{
	height:6px;
}
div.quicksearch, div.cat1, div.cat2, div.cat3
div.cat4, div.cat5, div.cat6, div.priceselectdiv, div.facilityselectdiv
{
	margin-bottom: 10px;
}

/*---info page---*/
div.infowrap {
	width:100%;
	background-color:#CCCBCB;
}

ul.headingsul
{
	margin:0px;
	padding:0px;
}
ul.headingsul li{
	list-style-type:none;
	display:block;
	padding:5px 0px;
	clear:both;
}
ul.headingsul li.menuon {
}
ul.headingsul li span.liststyle
{
	float:left;
	width:4px;
	padding-left:10px;
}
ul.headingsul li span{
	display:block;
	float:right;
	width:200px;
	text-align:left;
	color:#326EA1;
}

ul.headingsul li:hover{
	color:red;
}

ul.headingsul li span a:hover{
	color:red;
	text-decoration:none;
}

ul.headingsul li.menuon span{
	color:red;
}

ul.headingsul li.menuon a{
	color:red;
}

ul.headingsul li a{

}
	
div.infowrap div.formcontent div.left {
	float:left;
	width:720px;	
	padding:5px 10px;
}

div.infowrap div.formcontent div.right {
	float:right;
	width:219px;
	border-left: 1px solid #000;
}

ul.headings2ul {
	margin:0px;
	paddding:0px;
}
ul.headings2ul li {
	list-style-type:none;
	display:block;
	float:left;
	padding:5px 10px;	
}

ul.headings2ul li a{
	text-decoration:underline;
	color:#000;
}

div.headingtext{
	/*background-color:#aaa;*/
	min-height:400px;
	clear:both;
	margin:50px 30px 0px 30px;
	
}

div.infolink {
	float:right;
	padding-top:10px;
}



/*-- tabs----------*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	min-height:492px;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}

.postingdetail {
	margin-top:30px;
}
/*--------------------------------------*/
.tab_content table{
	width:100%;
}
.tab_content table th{
	padding:3px;
	color:red;
	vertical-align:top;
	width:150px;
	text-align:left;
}

.tab_content table td{
	padding:3px 0px;
	vertical-align:top;
	text-align:left;
	
}

ul.gallery li{
	list-style-type:none;
	float:left;	
}

ul.gallery li img {
	padding:2px;
	margin:5px;
	cursor:pointer;
}

div.largeimagewrap {
	width:500px;
	height:350px;
}

ul.gallery li img.currentimg{
	background-color:#000;
}
.transparent_class {
       filter:alpha(opacity=65);
       -moz-opacity:0.65;
       -khtml-opacity: 0.65;
       opacity: 0.65;
}

td.imagetd {
	width:120px;
	font-size:12px;
}
td.imagetd img {
	padding:2px;
	margin:0px;
}
td.imagetd a{
	padding-left:7px;
	line-height:20px;
}

 .tab_content table th.bigblack{
 	color:#000;
 	font-size:20px;
 }
 
 .tab_content table th.black{
 	color:#000;
 	font-weight:normal;
 }
 div.downloadwrap {
 	text-align:center;
 	width:100%;
 }
 div.downloadwrap div.downloadbutton{
 	display:block;
 	padding-top:8px;
 	padding-left:10px;
 	color:#000;
 	width:200px;
 	height:38px;
  	background-image: url(../images/sitetemplate/downloadbutton_bg.gif);
  	background-position: 0 0;
  	background-repeat:no-repeat;
 	
 }
 
 .tab_content img.downloadarrow {
 	border:none;
 	margin:0px;
 	padding:0px;
 }
 
 div.adobedownloadinstruction {
 	color:#333;
 	font-size:11px;
 }
 
 div.contactformhint {
 	padding:3px;
 	margin-bottom:10px;
 }
 
 input.contactforminput, textarea.contactforminput{
 	width:310px;
 }
 textarea.contactforminput{
 	height:120px;
 }
 th.jobtype {
 	width:60px;
 }
 span.titleend {
 	color:#aaa;
 	font-size:16px;
 }
 
 span.titlesecond {
 	font-size:16px;
 }
 td.bigsize {
 	font-size:18px;
 	font-weight:bold;
 }
 span.grey {
 	color:#666;
 }
 span.formconfirm {
 	background-color:green;
 	display:block;
 	border:#c9d7f1 2px solid;
 	padding:10px;
 	text-align:center;
 	width:80%;
 	color:#fff;
 }
 
 .bold {
 	font-weight:bold;
 }
 table#classifieds th.photo {
 	width:47px;
 }
 table.featurelist td{
 	width:240px;
 }
 .posting404page{
 	color:red;
 	font-size:34px;
 	text-align:center;
 	padding:20px;
 }
 .Car .featurelist td,
 .Estate .featurelist td
 {
 	font-size:0.8em;
 }